In [2]:
import leafmap
import geopandas as gpd
import pandas as pd

In [3]:
df = gpd.read_file('Stadtteile/Düsseldorf_Stadtteile.shp')

columns_drop = ["OBJECTID", "Quelle", "Stand", "Stadtbezir", "Stadtteil", "SHAPE_Leng", "SHAPE_Area"]
df.drop(labels = columns_drop, axis = "columns", inplace = True)

df.rename(columns={'Name':'Neighborhood'}, inplace=True)

In [4]:
df

      Neighborhood                                           geometry
0         Wittlaer  POLYGON Z ((753213.545 6676946.480 0.000, 7532...
1        Angermund  POLYGON Z ((758032.788 6682177.206 0.000, 7580...
2           Lörick  POLYGON Z ((750972.572 6665996.186 0.000, 7507...
3           Heerdt  POLYGON Z ((749803.703 6663442.957 0.000, 7496...
4       Oberkassel  POLYGON Z ((753486.019 6662425.887 0.000, 7534...
5     Niederkassel  POLYGON Z ((753437.079 6662969.087 0.000, 7528...
6         Golzheim  POLYGON Z ((754975.370 6664275.935 0.000, 7549...
7        Derendorf  POLYGON Z ((756549.378 6664501.726 0.000, 7562...
8       Pempelfort  POLYGON Z ((756750.257 6662093.973 0.000, 7567...
9        Carlstadt  POLYGON Z ((754265.923 6661187.584 0.000, 7542...
10    Flingern Süd  POLYGON Z ((759639.415 6660996.694 0.000, 7596...
11       Düsseltal  POLYGON Z ((759379.585 6663593.022 0.000, 7593...
12  Friedrichstadt  POLYGON Z ((756099.313 6659797.304 0.000, 7560...
13           Hafen  POLYGON Z ((753157.502 6660154.355 0.000, 7531...
14            Hamm  POLYGON Z ((752359.736 6658596.959 0.000, 7523...
15    Volmerswerth  POLYGON Z ((754061.676 6654117.974 0.000, 7540...
16        Altstadt  POLYGON Z ((754442.628 6662145.847 0.000, 7544...
17            Rath  POLYGON Z ((764474.094 6668916.227 0.000, 7642...
18    Mörsenbroich  POLYGON Z ((759439.607 6665804.894 0.000, 7594...
19       Knittkuhl  POLYGON Z ((765738.693 6667936.950 0.000, 7657...
20      Grafenberg  POLYGON Z ((761361.050 6663218.917 0.000, 7612...
21       Ludenberg  POLYGON Z ((765774.350 6667619.575 0.000, 7657...
22      Hubbelrath  POLYGON Z ((772549.908 6669646.756 0.000, 7725...
23      Lierenfeld  POLYGON Z ((761428.290 6660302.588 0.000, 7614...
24           Eller  POLYGON Z ((765829.917 6654974.796 0.000, 7657...
25      Vennhausen  POLYGON Z ((765936.009 6657844.412 0.000, 7659...
26       Unterbach  POLYGON Z ((770475.301 6655449.399 0.000, 7704...
27         Hassels  POLYGON Z ((768743.571 6652617.936 0.000, 7687...
28        Reisholz  POLYGON Z ((764902.589 6651480.812 0.000, 7648...
29         Benrath  POLYGON Z ((768126.375 6650914.481 0.000, 7681...
30           Itter  POLYGON Z ((760198.075 6648922.786 0.000, 7601...
31      Holthausen  POLYGON Z ((763128.453 6654109.221 0.000, 7629...
32    Kaiserswerth  POLYGON Z ((751682.305 6675914.331 0.000, 7516...
33         Stockum  POLYGON Z ((752856.956 6667720.217 0.000, 7528...
34          Kalkum  POLYGON Z ((758915.616 6678261.194 0.000, 7589...
35   Lichtenbroich  POLYGON Z ((757403.286 6672230.589 0.000, 7574...
36       Unterrath  POLYGON Z ((756716.431 6670121.356 0.000, 7566...
37        Lohausen  POLYGON Z ((757384.752 6672244.613 0.000, 7569...
38        Oberbilk  POLYGON Z ((759859.254 6655984.513 0.000, 7598...
39      Stadtmitte  POLYGON Z ((756926.323 6661181.118 0.000, 7569...
40       Unterbilk  POLYGON Z ((754405.383 6660124.170 0.000, 7544...
41     Himmelgeist  POLYGON Z ((758986.282 6647095.447 0.000, 7589...
42           Flehe  POLYGON Z ((757412.915 6653306.073 0.000, 7573...
43         Wersten  POLYGON Z ((761894.592 6654733.872 0.000, 7618...
44            Bilk  POLYGON Z ((757905.641 6655553.630 0.000, 7578...
45          Garath  POLYGON Z ((770134.072 6646109.085 0.000, 7699...
46       Hellerhof  POLYGON Z ((770900.653 6645486.148 0.000, 7708...
47       Urdenbach  POLYGON Z ((767670.141 6645256.420 0.000, 7676...
48   Flingern Nord  POLYGON Z ((761399.130 6660382.897 0.000, 7613...
49      Gerresheim  POLYGON Z ((765883.253 6661727.804 0.000, 7658...

In [5]:
df.crs

<Derived Projected CRS: EPSG:3857>
Name: WGS 84 / Pseudo-Mercator
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: World between 85.06°S and 85.06°N.
- bounds: (-180.0, -85.06, 180.0, 85.06)
Coordinate Operation:
- name: Popular Visualisation Pseudo-Mercator
- method: Popular Visualisation Pseudo Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [6]:
df = df.to_crs(4326)

df.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [7]:
noise_df = gpd.read_file('noise_dus.csv')

nonsense = ["Index", "geometry"]
noise_df.drop(labels = nonsense, axis = "columns", inplace = True)

noise_df["Bezirk"] = noise_df["Bezirk"].map(lambda x: x.replace("ÃƒÅ¸", "ß").replace("ÃƒÂ¼", "ü"))
noise_df.rename(columns={'Bezirk': 'Address'}, inplace=True)

noise_df

,Address,DB_TAG,DB_NACHT,Latitude,Longitude
0,"Aachener Straße 1, Düsseldorf, Germany",68,62,51.2075921,6.7765
1,"Aachener Straße 10, Düsseldorf, Germany",68,61,51.207128,6.7764358
2,"Aachener Straße 101, Düsseldorf, Germany",70,63,51.2025326,6.77114559698015
3,"Aachener Straße 103, Düsseldorf, Germany",70,62,51.2024275499999,6.77107674218849
4,"Aachener Straße 105, Düsseldorf, Germany",69,62,51.2023321,6.7711066
...,...,...,...,...,...
78826,"Zypressenweg 15, Düsseldorf, Germany",54,47,,
78827,"Zypressenweg 3, Düsseldorf, Germany",57,50,,
78828,"Zypressenweg 5, Düsseldorf, Germany",55,48,,
78829,"Zypressenweg 7, Düsseldorf, Germany",55,48,,
78830,"Zypressenweg 9, Düsseldorf, Germany",55,48,,

In [8]:
noise_df.dtypes

Address      object
DB_TAG       object
DB_NACHT     object
Latitude     object
Longitude    object
dtype: object

In [9]:
noise_df["Latitude"] = pd.to_numeric(noise_df["Latitude"], errors='coerce')
noise_df["Longitude"] = pd.to_numeric(noise_df["Longitude"], errors='coerce')

noise_df = noise_df.dropna(how='any',axis=0) 
noise_df

,Address,DB_TAG,DB_NACHT,Latitude,Longitude
0,"Aachener Straße 1, Düsseldorf, Germany",68,62,51.207592,6.776500
1,"Aachener Straße 10, Düsseldorf, Germany",68,61,51.207128,6.776436
2,"Aachener Straße 101, Düsseldorf, Germany",70,63,51.202533,6.771146
3,"Aachener Straße 103, Düsseldorf, Germany",70,62,51.202428,6.771077
4,"Aachener Straße 105, Düsseldorf, Germany",69,62,51.202332,6.771107
...,...,...,...,...,...
78242,"Zietenstraße 27, Düsseldorf, Germany",53,45,51.242225,6.776998
78243,"Zietenstraße 29, Düsseldorf, Germany",53,45,51.242274,6.777171
78244,"Zietenstraße 3, Düsseldorf, Germany",57,48,51.241556,6.774812
78245,"Zietenstraße 30, Düsseldorf, Germany",54,45,51.242552,6.776789
78246,"Zietenstraße 31, Düsseldorf, Germany",53,45,51.242345,6.777385

In [10]:
gdf_listings = gpd.GeoDataFrame(noise_df, geometry=gpd.points_from_xy(noise_df.Longitude, noise_df.Latitude))

gdf_listings

,Address,DB_TAG,DB_NACHT,Latitude,Longitude,geometry
0,"Aachener Straße 1, Düsseldorf, Germany",68,62,51.207592,6.776500,POINT (6.77650 51.20759)
1,"Aachener Straße 10, Düsseldorf, Germany",68,61,51.207128,6.776436,POINT (6.77644 51.20713)
2,"Aachener Straße 101, Düsseldorf, Germany",70,63,51.202533,6.771146,POINT (6.77115 51.20253)
3,"Aachener Straße 103, Düsseldorf, Germany",70,62,51.202428,6.771077,POINT (6.77108 51.20243)
4,"Aachener Straße 105, Düsseldorf, Germany",69,62,51.202332,6.771107,POINT (6.77111 51.20233)
...,...,...,...,...,...,...
78242,"Zietenstraße 27, Düsseldorf, Germany",53,45,51.242225,6.776998,POINT (6.77700 51.24222)
78243,"Zietenstraße 29, Düsseldorf, Germany",53,45,51.242274,6.777171,POINT (6.77717 51.24227)
78244,"Zietenstraße 3, Düsseldorf, Germany",57,48,51.241556,6.774812,POINT (6.77481 51.24156)
78245,"Zietenstraße 30, Düsseldorf, Germany",54,45,51.242552,6.776789,POINT (6.77679 51.24255)
78246,"Zietenstraße 31, Düsseldorf, Germany",53,45,51.242345,6.777385,POINT (6.77738 51.24235)

In [11]:
gdf_listings.crs = "EPSG:4326"

In [12]:
gdf_listings.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [60]:
import numpy as np

sjoined = gpd.sjoin(gdf_listings,df, op='within')
sjoined.drop(['index_right'], axis = "columns", inplace = True)
#sjoined = sjoined.set_index('Neighborhood')
#sjoined = sjoined.sample(20)

sjoined['DB_NACHT'] = pd.to_numeric(sjoined['DB_NACHT'], errors='coerce')
sjoined['DB_TAG'] = pd.to_numeric(sjoined['DB_TAG'], errors='coerce')

sjoined['DB_TAG'] = sjoined['DB_TAG'].replace([np.inf, -np.inf], np.nan).astype('Int64')
sjoined['DB_NACHT'] = sjoined['DB_NACHT'].replace([np.inf, -np.inf], np.nan).astype('Int64')

sjoined

,Address,DB_TAG,DB_NACHT,Latitude,Longitude,geometry,Neighborhood
0,"Aachener Straße 1, Düsseldorf, Germany",68,62,51.207592,6.776500,POINT (6.77650 51.20759),Bilk
1,"Aachener Straße 10, Düsseldorf, Germany",68,61,51.207128,6.776436,POINT (6.77644 51.20713),Bilk
2,"Aachener Straße 101, Düsseldorf, Germany",70,63,51.202533,6.771146,POINT (6.77115 51.20253),Bilk
3,"Aachener Straße 103, Düsseldorf, Germany",70,62,51.202428,6.771077,POINT (6.77108 51.20243),Bilk
4,"Aachener Straße 105, Düsseldorf, Germany",69,62,51.202332,6.771107,POINT (6.77111 51.20233),Bilk
...,...,...,...,...,...,...,...
77531,"Wolfgang-Borchert-Straße 5, Düsseldorf, Germany",53,45,51.128947,6.899065,POINT (6.89907 51.12895),Hellerhof
77532,"Wolfgang-Borchert-Straße 6, Düsseldorf, Germany",52,44,51.128526,6.899297,POINT (6.89930 51.12853),Hellerhof
77533,"Wolfgang-Borchert-Straße 7, Düsseldorf, Germany",52,45,51.128948,6.898943,POINT (6.89894 51.12895),Hellerhof
77534,"Wolfgang-Borchert-Straße 8, Düsseldorf, Germany",52,44,51.128527,6.899216,POINT (6.89922 51.12853),Hellerhof
77535,"Wolfgang-Borchert-Straße 9, Düsseldorf, Germany",52,45,51.128949,6.898820,POINT (6.89882 51.12895),Hellerhof

In [61]:
total_DB_TAG = sjoined['DB_TAG'].groupby(sjoined['Neighborhood'])
  
# printing the means value
print(total_DB_TAG.mean())

Neighborhood
Altstadt          57.699789
Angermund         51.446281
Benrath           58.261646
Bilk              59.179613
Carlstadt         60.528736
Derendorf         60.341991
Düsseltal         59.883854
Eller             58.116588
Flehe              60.15493
Flingern Nord     59.615031
Flingern Süd      60.724868
Friedrichstadt     62.77688
Garath            56.731655
Gerresheim        55.805616
Golzheim          60.170624
Grafenberg        58.025992
Hafen             60.176136
Hamm              57.675214
Hassels           58.989703
Heerdt            60.602572
Hellerhof         56.768185
Himmelgeist       53.546729
Holthausen        57.566265
Hubbelrath        55.416364
Itter             54.362319
Kaiserswerth      56.673616
Kalkum            53.969336
Knittkuhl         50.488889
Lichtenbroich     57.475836
Lierenfeld        58.183607
Lohausen          55.240975
Ludenberg         54.730999
Lörick            53.602421
Mörsenbroich      56.069795
Niederkassel      56.610024
Oberbilk          60.624071
Oberkassel        58.515371
Pempelfort        61.305106
Rath              57.829161
Reisholz           56.64658
Stadtmitte        63.723034
Stockum           58.012687
Unterbach         55.217789
Unterbilk         61.198052
Unterrath         56.680621
Urdenbach         54.310818
Vennhausen        55.254886
Volmerswerth      55.661765
Wersten           57.000257
Wittlaer          53.339965
Name: DB_TAG, dtype: Float64

In [62]:
total_DB_NACHT = sjoined['DB_NACHT'].groupby(sjoined['Neighborhood'])
  
# printing the means value
print(total_DB_NACHT.mean())

Neighborhood
Altstadt          48.217759
Angermund         42.895741
Benrath           50.305124
Bilk              51.136587
Carlstadt         51.890805
Derendorf         52.222635
Düsseltal         51.828861
Eller             50.108033
Flehe             52.932394
Flingern Nord     51.226994
Flingern Süd      52.793651
Friedrichstadt    54.887631
Garath            49.299411
Gerresheim        47.420331
Golzheim          51.630607
Grafenberg        49.818057
Hafen             52.380682
Hamm               49.04416
Hassels           51.238038
Heerdt            53.483601
Hellerhof         49.341944
Himmelgeist       46.018692
Holthausen        49.924699
Hubbelrath        47.645455
Itter             47.204969
Kaiserswerth      48.611075
Kalkum            45.483816
Knittkuhl         42.066667
Lichtenbroich     50.006506
Lierenfeld        50.019672
Lohausen          47.333935
Ludenberg         46.111016
Lörick            45.645251
Mörsenbroich      47.952467
Niederkassel      49.013447
Oberbilk          52.549721
Oberkassel        50.722032
Pempelfort        53.410959
Rath              50.001757
Reisholz           48.47557
Stadtmitte        55.388309
Stockum           49.762687
Unterbach         46.885546
Unterbilk         52.964286
Unterrath         48.799368
Urdenbach           46.1933
Vennhausen        46.570847
Volmerswerth      47.922794
Wersten           49.582969
Wittlaer          45.046811
Name: DB_NACHT, dtype: Float64

In [18]:
m = leafmap.Map()

m.add_gdf(df, layer_name="geometry")
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…