In [2]:
import pandas as pd
import numpy as np
import folium
#import geopandas as gpd

In [3]:
df = pd.read_csv('/content/noise_dus.xlsx - noise_dus.csv', sep = ',')
df

,Index,Bezirk,DB_TAG,DB_NACHT,Latitude,Longitude
0,1,"Aachener StraÃŸe 1, DÃ¼sseldorf, Germany",68,62.0,51.2075921,6.7765
1,2,"Aachener StraÃŸe 10, DÃ¼sseldorf, Germany",68,61.0,51.207128,6.7764358
2,3,"Aachener StraÃŸe 101, DÃ¼sseldorf, Germany",70,63.0,51.2025326,6.771145597
3,4,"Aachener StraÃŸe 103, DÃ¼sseldorf, Germany",70,62.0,51.20242755,6.771076742
4,5,"Aachener StraÃŸe 105, DÃ¼sseldorf, Germany",69,62.0,51.2023321,6.7711066
...,...,...,...,...,...,...
78826,78827,"Zypressenweg 15, DÃ¼sseldorf, Germany",54,47.0,,
78827,78828,"Zypressenweg 3, DÃ¼sseldorf, Germany",57,50.0,,
78828,78829,"Zypressenweg 5, DÃ¼sseldorf, Germany",55,48.0,,
78829,78830,"Zypressenweg 7, DÃ¼sseldorf, Germany",55,48.0,,
78830,78831,"Zypressenweg 9, DÃ¼sseldorf, Germany",55,48.0,,

In [4]:
df.replace(' ', np.nan, inplace = True)

df.isna()

       Index  Bezirk  DB_TAG  DB_NACHT  Latitude  Longitude
0      False   False   False     False     False      False
1      False   False   False     False     False      False
2      False   False   False     False     False      False
3      False   False   False     False     False      False
4      False   False   False     False     False      False
...      ...     ...     ...       ...       ...        ...
78826  False   False   False     False      True       True
78827  False   False   False     False      True       True
78828  False   False   False     False      True       True
78829  False   False   False     False      True       True
78830  False   False   False     False      True       True

[78831 rows x 6 columns]

In [5]:
df = df.dropna()

df

,Index,Bezirk,DB_TAG,DB_NACHT,Latitude,Longitude
0,1,"Aachener StraÃŸe 1, DÃ¼sseldorf, Germany",68,62.0,51.2075921,6.7765
1,2,"Aachener StraÃŸe 10, DÃ¼sseldorf, Germany",68,61.0,51.207128,6.7764358
2,3,"Aachener StraÃŸe 101, DÃ¼sseldorf, Germany",70,63.0,51.2025326,6.771145597
3,4,"Aachener StraÃŸe 103, DÃ¼sseldorf, Germany",70,62.0,51.20242755,6.771076742
4,5,"Aachener StraÃŸe 105, DÃ¼sseldorf, Germany",69,62.0,51.2023321,6.7711066
...,...,...,...,...,...,...
78242,78243,"ZietenstraÃŸe 27, DÃ¼sseldorf, Germany",53,45.0,51.24222465,6.776998157
78243,78244,"ZietenstraÃŸe 29, DÃ¼sseldorf, Germany",53,45.0,51.242274,6.777170934
78244,78245,"ZietenstraÃŸe 3, DÃ¼sseldorf, Germany",57,48.0,51.24155555,6.774811985
78245,78246,"ZietenstraÃŸe 30, DÃ¼sseldorf, Germany",54,45.0,51.2425519,6.776788617
78246,78247,"ZietenstraÃŸe 31, DÃ¼sseldorf, Germany",53,45.0,51.24234505,6.777384703

In [6]:
del df['Index']

In [ ]:
df['Longitude'] = df['Longitude'].replace(r'\s+', np.nan, regex=True)

df['Longitude'] = df['Longitude'].replace(r'^$', np.nan, regex=True)

df['Longitude'] = df['Longitude'].fillna(-0.99999)

df['Longitude'] = pd.to_numeric(df['Longitude'])

In [ ]:
df['Latitude'] = df['Latitude'].replace(r'\s+', np.nan, regex=True)

df['Latitude'] = df['Latitude'].replace(r'^$', np.nan, regex=True)

df['Latitude'] = df['Latitude'].fillna(-0.99999)

df['Latitude'] = pd.to_numeric(df['Latitude'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77018 entries, 0 to 78246
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bezirk     77018 non-null  object
 1   DB_TAG     77018 non-null  int64
 2   DB_NACHT   77018 non-null  float64
 3   Latitude   77018 non-null  float64
 4   Longitude  77018 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 3.5+ MB

In [10]:
def label_noise (df):
   if df['DB_TAG'] <= 54:
      return 'Low'
   elif df['DB_TAG'] > 54 and df['DB_TAG'] <= 57:
      return 'Medium'
   elif df['DB_TAG'] > 57 and df['DB_TAG'] <= 61:
      return 'High'
   return 'Very High'

In [11]:
df.apply(lambda df: label_noise(df), axis=1)

0        Very High
1        Very High
2        Very High
3        Very High
4        Very High
           ...
78242          Low
78243          Low
78244       Medium
78245          Low
78246          Low
Length: 77018, dtype: object

In [ ]:
df['tag_noise_label'] = df.apply(lambda df: label_noise(df), axis=1)

In [ ]:
import sys


#df['noise_label_tag']=pd.cut(
#
#   df['DB_TAG'],

 #  bins=[0, 34, 54, 57, 61, sys.maxsize],

#   labels=['Very Low', 'Low', 'Medium', 'High', 'Very High']
#)

In [13]:
df.dtypes

Bezirk              object
DB_TAG               int64
DB_NACHT           float64
Latitude           float64
Longitude          float64
tag_noise_label     object
dtype: object

In [ ]:
#df=gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude,df.Latitude,crs="EPSG:4386"))
#df.crs={'init':'epsg:4386'}
#df.head()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77018 entries, 0 to 78246
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bezirk           77018 non-null  object
 1   DB_TAG           77018 non-null  int64
 2   DB_NACHT         77018 non-null  float64
 3   Latitude         77018 non-null  float64
 4   Longitude        77018 non-null  float64
 5   tag_noise_label  77018 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 4.1+ MB

In [15]:
noise_label = df.groupby('tag_noise_label').size().to_frame(name = 'total').reset_index().sort_values('tag_noise_label')

In [16]:
import plotly.express as px

In [17]:
df_label = noise_label.sort_values('total')
fig = px.bar(df_label, x = 'tag_noise_label', y = 'total' )
fig.show()

In [18]:
grouped = df.groupby(['Latitude', 'Longitude', 'DB_TAG', 'tag_noise_label']).size().to_frame(name = 'total').reset_index()
grouped

        Latitude  Longitude  DB_TAG tag_noise_label  total
0      51.126150   6.900010      51             Low      1
1      51.126354   6.903978      55          Medium      1
2      51.126392   6.903943      55          Medium      1
3      51.126430   6.903908      55          Medium      1
4      51.126455   6.902883      55          Medium      1
...          ...        ...     ...             ...    ...
76430  51.346053   6.742689      66       Very High      1
76431  51.346136   6.739164      49             Low      1
76432  51.346364   6.758018      54             Low      1
76433  51.346503   6.740504      51             Low      1
76434  51.348096   6.751366      57          Medium      1

[76435 rows x 5 columns]

**TRYING PLOT MAPA**

In [20]:
from branca.element import Figure

In [21]:
figMapa = Figure(height = 600, width = 800)

In [22]:
map = folium.Map(location = [51.233334, 6.783333], 
                 zoom_start = 8)

In [23]:
figMapa.add_child(map)

In [24]:
df.tag_noise_label.value_counts()

Low          25188
Very High    18626
Medium       17959
High         15245
Name: tag_noise_label, dtype: int64

In [25]:
colors = {
    'Low' : 'blue',
    'Very High' : 'red',
    'Medium' : 'green',
    'High': 'orange',
    }

In [26]:
feature_group1 = folium.FeatureGroup(name='Low')
feature_group2 = folium.FeatureGroup(name='Very High')
feature_group3 = folium.FeatureGroup(name='Medium')
feature_group4 = folium.FeatureGroup(name='High')

In [27]:
for indice, UBS in df.iterrows():

  dB = UBS.DB_TAG
  localizacao = [UBS.Latitude, UBS.Longitude]
  icone = folium.Icon(color = colors[UBS.tag_noise_label])
  
  folium.CircleMarker(location = localizacao, popup = dB, icon = icone, radius=5).add_to(feature_group1)
  folium.CircleMarker(location = localizacao, popup = dB, icon = icone, radius=5).add_to(feature_group2)
  folium.CircleMarker(location = localizacao, popup = dB, icon = icone, radius=5).add_to(feature_group3)
  folium.CircleMarker(location = localizacao, popup = dB, icon = icone, radius=5).add_to(feature_group4)

In [28]:
map.add_child(feature_group1)
map.add_child(feature_group2)
map.add_child(feature_group3)
map.add_child(feature_group4)

In [30]:
figMapa.save('312_markers_on_folium_map1_custom.html')